target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Archivos temporales de IntelliJ
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/httpRequests/
.idea/sonarlint/
.idea/shelf/
out/

# Servidores de aplicación
wlp/
payara5/
glassfish/
logs/
.derby/
domains/

# Archivos del sistema
Thumbs.db
*.log
*.swp
*.tmp

# Configuraciones personales
.env
.env.local
*.properties.local
*.xml.local


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### configuraciones propias del sistema ###
pom.xml
